.vis {
	width: 49%;
	display: inline-block;
}

.img-thumbnail {
	width: 200px;
	height: 200px;
	border: 0px;
}


.container {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
	max-width: 1800px;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #ffffff08;
    border-bottom: 1px solid rgba(0,0,0,.125);
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	color: #04bf96;
}

body {
	background-color: rgba(0,0,0,.075);
}

.navbar {
	background-color: #ffffff;
	padding-top: 0px;
	padding-bottom: 0px;
}

.navbar-brand {
	background-color: #04bf96;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	color: #ffffff;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 100px;
}

#nav {
	margin-left: 0px;
	margin-right:0px;
	max-width: 2080px;
	padding-right: 0px;
	padding-left: 0px;
}

.navbar-nav {
	margin-right: 100px;
}

.nav-link {
	color: #212529;
}

a:hover {
	color: #495057;
}

.navbar-toggler {
	background-color: #04bf96;
}

.navbar-toggler-icon {
	background-color: #ffffff;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #545b62;
	color: #ffffff;
	text-align: center;
}